@keyframes SideModalEntry {
  from {
    opacity: 0;
    transform: translateX(50%);
  }

  50% {
    opacity: 1;
  }

  to {
    transform: none;
  }
}

@keyframes OverlayEntry {
  from {
    background-color: rgba(var(--dark-dec), 0);
  }
  to {
    background-color: rgba(var(--dark-dec), 0.9);
  }
}

.SideModal {
  //
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 10;
  background-color: rgba(var(--dark-dec), 0.9);
  animation: OverlayEntry 500ms;

  & > div {
    background-color: white;
    width: 400px;
    animation: SideModalEntry 400ms;
    animation-fill-mode: both;
    animation-delay: 100ms;

    & > header {
      padding: 20px;
      display: flex;
      justify-content: flex-end;

      & > button {
        opacity: 0.4;
        transition: opacity 250ms;
        font-size: 22px;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
