.Toolbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  color: var(--dark);
  display: flex;
  justify-content: center;
  gap: 5px;
  z-index: 100;

  background-color: white;
  border: 1px solid rgba(var(--dark-dec), 0.1);
  padding: 10px;

  transition: translate 250ms, opacity 250ms;

  translate: 0 -100%;
  pointer-events: none;
  overflow-x: auto;

  & > div {
    display: flex;
    justify-content: center;
  }

  &.hasFocus {
    opacity: 1;
    pointer-events: all;
    translate: none;
  }

  button {
    cursor: pointer;
    height: 34px;
    width: 34px;
    border-radius: 5px;
    opacity: 0.5;
    transition: opacity 250ms, background-color 250ms;
    font-size: 15px;

    &:hover {
      opacity: 1;
      background-color: rgba(var(--dark-dec), 0.05);
    }

    display: flex;

    & > svg {
      margin: auto;
    }

    &.isActive {
      opacity: 1;
      background-color: var(--dark);
      color: white;
    }
  }
}

.Divider {
  margin: 4px 10px;
  width: 1px;
  background-color: rgba(var(--dark-dec), 0.1);
}
