.Input {
  height: 40px;
  display: block;
  width: 100%;
  border: 1px solid rgba(var(--dark-dec), 0.1);
  border-radius: 5px;
  transition: border-color 250ms;
  padding: 0 10px;

  &:focus {
    border-color: rgba(var(--dark-dec), 0.3);
  }
}
