.ArticleItem {
  //
  background-color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  & > div {
    flex: 1;
    position: relative;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    display: flex;
  }

  .text {
    padding: 20px;
    font-weight: 500;
  }
}
