.Content {
  line-height: 1.3;

  hr {
    margin: 20px 0;
    height: 1px;
    background-color: rgba(var(--dark-dec), 0.1);
    border: 0;
  }
}

.ContainerNode {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px;
  max-width: 100%;

  &.data-size-small {
    width: var(--small-container-size);
  }

  &.data-size-medium {
    width: var(--medium-container-size);
  }

  &.data-size-large {
    width: var(--large-container-size);
  }
}

.ColumnsNode {
  display: grid;
  gap: 60px;

  grid-template-columns: repeat(var(--desktop-columns), auto);

  @media (max-width: 768px) {
    grid-template-columns: repeat(var(--tablet-columns), auto);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(var(--mobile-columns), auto);
  }
}

.SliderNode {
  overflow-x: auto;
  padding: 20px;
  display: flex;

  &::-webkit-scrollbar {
    height: 0;
  }

  & > div {
    display: flex;
    gap: 20px;
  }
}

.InternalLinkNode {
  display: flex;
}

.SpreadBlockNode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ParagraphNode {
  margin: 10px 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.BoxNode {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  margin: 20px 0;
}

.ListNode {
  text-align: left;
  padding-left: 20px;

  margin: 10px 0;

  & > li {
    margin: 15px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ButtonNode {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  cursor: pointer;

  &.data-theme-primary {
    background-color: var(--primary);
    color: white;
    font-weight: 500;
  }

  &.data-theme-normal {
    &:hover {
      text-decoration: underline;
    }
  }
}

.DividerNode {
  height: 2px;
  border: 0;
  background-color: rgba(var(--dark-dec), 0.1);
  margin: 40px auto;
  width: 300px;
}
