.Page {
  height: 100vh;
  display: flex;
  background-color: var(--light);

  & > div {
    flex: 1;

    &:first-child {
      flex: 2;
    }

    &:last-child {
      // padding: 50px;
      // background-color: white;
    }

    &:first-child {
      border-right: 1px solid rgba(var(--dark-dec), 0.1);
    }
  }
}
