.Page {
  height: 100vh;
  display: flex;

  & > div {
    flex: 1;
    padding: 50px;

    &:first-child {
      flex: 2;
    }

    &:first-child {
      border-right: 1px solid rgba(var(--dark-dec), 0.1);
    }
  }
}
