@keyframes SectionPickerEntry {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes SectionPickerContentEntry {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: none;
  }
}

.SectionPicker {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--dark-dec), 0.9);
  z-index: 100;
  display: flex;
  user-select: none;
  z-index: 100;
  color: var(--dark);

  animation: SectionPickerEntry 400ms;

  & > .CloseButton {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 22px;
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 36px;
    opacity: 0.6;
    transition: opacity 250ms;

    &:hover {
      opacity: 1;
    }

    & > svg {
      margin: auto;
    }
  }

  & > div {
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: auto;
    width: 100%;

    animation: SectionPickerContentEntry 400ms;

    & > h2 {
      margin: 40px 0 10px 0;
    }

    &::-webkit-scrollbar {
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(var(--dark-dec), 0.1);
      border-radius: 10px;
    }

    & > div {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 20px;
      flex: 1;

      & > button {
        border: 2px solid rgba(var(--dark-dec), 0.1);
        padding: 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        transition: border-color 250ms;
        &:hover {
          border-color: rgba(var(--dark-dec), 0.3);
        }

        & > img {
          height: 100px;
          width: 150px;
        }

        & > .label {
          flex: 1;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
