.AdminPages {
  width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;

  & > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    .addPage {
      display: flex;
      align-items: center;
      font-size: 14px;
      opacity: 0.5;
      transition: opacity 250ms;

      &:hover {
        opacity: 1;
      }

      & > svg {
        margin-right: 5px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
